<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/flights/new">Add a new flight</a>
    <a href="/flights">All flights</a>
  </body>
</html>
